.release-it.json
.travis.yml
*.zip
faucet.config.js
faucet.config.dev.js
yarn.lock
.editorconfig
.gitmodules
.sass-lint.yml
scripts/
documentation/
node_modules/
static/
.git/
.sass-cache/
build.sh
icons/
src/
