.home-divider {
  width: 100%;
  height: 3rem;

  background-color: $nocc-divider-start;
  border: solid $nocc-divider-end;
  border-width: 1px 0;
  box-shadow:
    inset 0 0.5em 1.5em $nocc-divider-start,
    inset 0 0.125em 0.5em $nocc-divider-end;
}

.divider {
  width: 100%;
  height: 3rem;
}
