/* stylelint-disable media-feature-range-notation */

/* Styling for the navbar */

@use "sass:color";

nav {
  position: absolute;
  font-family: $headings-font-family;
  background-color: transparent;
  border-bottom: 1px solid transparent;

  .navbar-brand {
    font-size: medium;
    font-weight: 800;
    color: $gray-200;
    text-decoration: none;
    text-shadow: 1px 1px $black;

    &:focus,
    &:hover {
      color: fade-out($gray-400, 0.3);
    }
  }

  .navbar-toggler {
    cursor: pointer;

    padding: 13px;

    font-size: 0.75rem;
    font-weight: 800;
    color: $gray-200;
    text-transform: uppercase;

    background-color: rgba($color: $gray-200, $alpha: 40%);
  }

  .nav-item {
    a {
      font-size: 0.75rem;
      font-weight: 800;
      color: $white;
      text-decoration: $link-decoration;
      text-shadow: 1px 1px $black;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:focus,
      &:hover {
        color: fade-out($gray-400, 0.3);
      }
    }

    &:last-child {
      margin: 12px 0 18px;
    }
  }

  @media only screen and (min-width: 992px) {
    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    background: transparent;
    border-bottom: 1px solid transparent;

    transition: background-color 0.2s;

    .navbar-brand {
      padding: 10px 20px;

      font-size: large;
      color: $white;
      text-decoration: $link-decoration;
      text-shadow: 1px 1px $black;

      &:focus,
      &:hover {
        color: fade-out($white, 0.3);
      }
    }

    .nav-item {
      padding: 5px 10px;

      a {
        font-size: 0.75rem;
        font-weight: 800;
        color: $white;
        text-decoration: $link-decoration;
        text-shadow: 1px 1px $black;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:focus,
        &:hover {
          color: fade-out($white, 0.3);
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    &.is-fixed {
      position: fixed;
      top: -67px;

      background-color: fade-out($white, 0.1);
      border-bottom: 1px solid
        color.adjust($white, $lightness: -0.05%, $alpha: 0.2);

      transition: transform 0.2s;

      .navbar-brand {
        color: $gray-900;

        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }

    &.is-visible {
      transform: translate3d(0, 100%, 0);
    }
  }
}

.navbar {
  --#{$prefix}navbar-hover-color: #{$navbar-light-hover-color};

  position: fixed;
  height: auto;

  @media only screen and (min-width: 990px) {
    height: 4rem;
  }
}

.nav-kofi {
  height: 26px;
  padding-top: 3px;
  border: 0;
}

.nav-github {
  padding-top: 5px;
}
