/* stylelint-disable media-feature-range-notation */
// Styling for the navbar

@use 'sass:color';

nav {
  position: absolute;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  font-family: $headings-font-family;

  .navbar-brand {
    text-decoration: none;
    text-shadow: 1px 1px $black;
    color: $gray-200;
    font-size: medium;
    font-weight: 800;

    &:focus,
      &:hover {
        color: fade-out($gray-400, .3);
      }
    }

  .navbar-toggler {
    padding: 13px;
    cursor: pointer;
    text-transform: uppercase;
    color: $gray-200;
    font-size: .75rem;
    font-weight: 800;
    background-color: rgba($color: $gray-200, $alpha: 40%)
  }

  .nav-item {
    a {
      text-transform: uppercase;
      text-decoration: $link-decoration;
      text-shadow: 1px 1px $black;
      letter-spacing: 1px;
      color: $white;
      font-size: .75rem;
      font-weight: 800;

      &:focus,
      &:hover {
        color: fade-out($gray-400, .3);
      }
    }

    &:last-child  {
      margin: 12px 0 18px;
    }
  }

  @media only screen and (min-width: 992px) {
    transform: translate3d(0, 0, 0);
    transition: background-color .2s;
    border-bottom: 1px solid transparent;
    background: transparent;
    backface-visibility: hidden;

    .navbar-brand {
      padding: 10px 20px;
      text-decoration: $link-decoration;
      text-shadow: 1px 1px $black;
      color: $white;
      font-size: large;

      &:focus,
      &:hover {
        color: fade-out($white, .3);
      }
    }

    .nav-item {
      padding: 5px 10px;

      a {
        text-transform: uppercase;
        text-decoration: $link-decoration;
        text-shadow: 1px 1px $black;
        letter-spacing: 1px;
        color: $white;
        font-size: .75rem;
        font-weight: 800;

        &:focus,
        &:hover {
          color: fade-out($white, .3);
        }
      }

      &:last-child  {
        margin: 0;
      }
    }

    &.is-fixed {
      position: fixed;
      top: -67px;
      transition: transform .2s;
      border-bottom: 1px solid color.adjust($white, $lightness: -.05%, $alpha: 0.2);
      background-color: fade-out($white, .1);

      .navbar-brand {
        color: $gray-900;

        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }

    &.is-visible {
      transform: translate3d(0, 100%, 0);
    }
  }
}

.navbar {
  height: auto;
  position: fixed;

  --#{$prefix}navbar-hover-color: #{$navbar-light-hover-color};
  
  @media only screen and (min-width: 990px) {
    height: 4rem;
  }
}

.nav-kofi {
  border: 0;
  padding-top: 3px;
  height: 26px;
}

.nav-github {
  padding-top: 5px;
}
