/* stylelint-disable media-feature-range-notation */
// Styling for the post page
.num-posts {
  position: absolute;
  margin-bottom: 20px;
}

.post-preview {
  >a {
    color: var(--#{$prefix}secondary-color);

    &:focus,
    &:hover {
      text-decoration: $link-decoration;
      color: var(--#{$prefix}primary-color);
    }

    >.post-subtitle {
      margin: 0 0 10px;
      text-transform: lowercase;
      font-weight: 300;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  >.post-meta {
    margin-top: 0;
    color: $gray-600;
    font-size: 16px;
    font-style: italic;

    >a {
      text-decoration: $link-decoration;
      color: var(--#{$prefix}secondary-color);

      &:focus,
      &:hover {
        text-decoration: underline;
        color: var(--#{$prefix}primary-color);
      }
    }
  }
}
