// Styling for the post page
.num-posts {
  position: absolute;
  margin-bottom: 20px;
}
.post-preview {
  >a {
    color: var(--secondary-color);
    &:focus,
    &:hover {
      text-decoration: $link-decoration;
      color: var(--primary-color);
    }
    >.post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
      text-transform: lowercase;
    }
    >.post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
      text-transform: lowercase;
    }
    >.post-title:first-letter {
      text-transform: uppercase;
    }
    >.post-subtitle:first-letter {
      text-transform: uppercase;
    }
  }

  >.post-meta {
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
    >a {
      text-decoration: $link-decoration;
      color: var(--secondary-color);
      &:focus,
      &:hover {
        text-decoration: underline;
        color: var(--primary-color);
      }
    }
  }

  @media only screen and (min-width: 768px) {
    >a {
      >.post-title {
        font-size: 36px;
      }
    }
  }
}