/* stylelint-disable media-feature-range-notation */
body {
  margin: 0;
  background-color: var(--#{$prefix}body-bg);
  text-align: $text-align;
  line-height: $line-height-base;
  color: var(--#{$prefix}body-color);
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

a {
  text-decoration: underline;
  color: var(--#{$prefix}link-color-base);
}

p {
  margin: .5rem 0 1.5rem;
  line-height: 1.5;
  font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  font-family: $headings-font-family;
  font-weight: 900;

  &::first-letter {
    text-transform: uppercase;
  }
}

h3 {
  .post-subtitle {
    margin-bottom: 30px;
  }
}

blockquote {
  margin: 1rem 3rem 2rem 1rem;
  background-color: $gray-400;
  border: 1px solid transparent;
  border-radius: .6rem;
  
  strong {
    color: $blue;
  }

  p {
    margin: 0;
    padding: .5rem;
    color: $gray-900;
    font-style: normal;
  }
}

.section-heading {
  margin-top: 60px;
  font-size: 2.2rem;
  font-weight: 700;
}

.caption {
  display: block;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  text-align: center;
  color: var(--#{$prefix}secondary-color);
  font-size: .8rem;
  font-style: italic;
}

pre {
  margin: 1rem 0 1.5rem;
  border: 1px solid transparent;
  border-radius: .6rem;
  background-color: $black;
  padding: 0.4rem 1rem 1.5rem 1.5rem;
  font-size: 80%;
  text-wrap: wrap;

  code {
    color: var(--#{$prefix}code-color);
  }
}

.border {
  border: 1px solid var(--#{$prefix}border-color-base);
}

.box-shadow {
  box-shadow: var(--#{$prefix}box-shadow-base);
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 1em;
  }
}

*,
*::before,

*::after {
  box-sizing: border-box;
}

.rounded-hero {
  border-radius: 1em;

  img {
    display: none;
    visibility: hidden;
  }

  p {
    font-family: $headings-font-family;
    font-size: 1.2rem;
  }

  @media only screen and (min-width: 992px) {
    img {
      display: inline;
      visibility: visible;
      border-style: none;
      vertical-align: middle;
    }
  }
}

small {
  color: $nocc-cyan;
  font-family: $headings-font-family;

  a {
    &:focus,
    &:hover {
      color: var(--#{$prefix}link-hover-color);
    }
  }
}

.me-auto {
  margin-right: auto;
}

.mb-3 {
  margin-bottom: 1rem;
}

.me-3 {
  margin-right: 1rem;
}

.end-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.position-fixed {
  position: fixed;
  z-index: 2;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.item {
  .active {
    background: linear-gradient($nocc-item-active-start, $nocc-item-active-end);
  }
}

.fixed-bottom-footer {
  position: fixed;
  right: 0;
  bottom: 320px;
  left: 0;
  z-index: 1030;
}

.post-content {
  position: fixed;
  z-index: 1050;
}

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.float-none {
  float: none;
}

.d-block {
  display: block;
}

.modal-body {
  background: var(--#{$prefix}modal-body-color);
}

.modal-header {
  background: var(--#{$prefix}modal-header-color);
}

.image-gallery {
  margin-bottom: 4rem;
  padding-left: 5em;
}

.thumbnail {
  display: inline-block;
  border: 0;
  background: none;
  width: 30%;
}

.badge {
  background: linear-gradient($nocc-badge-start, $nocc-badge-end);
  text-transform: uppercase;
  color: $white;
  font-family: $headings-font-family;
  font-weight: 400;
}

// Visually hidden

.visually-hidden,
.visually-hidden-focusable {
  :not(:focus),
  :not(:focus-within) {
    margin: -1px; // Fix for https://github.com/twbs/bootstrap/issues/25686
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);

    // Fix for positioned table caption that could become anonymous cells
    &:not(caption) {
      position: absolute;
    }
  }
}
