@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/roboto-webfont/roboto-v30-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/roboto-webfont/roboto-v30-latin-700.woff2")
    format("woff2");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/roboto-webfont/roboto-v30-latin-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/roboto-webfont/roboto-v30-latin-700italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/roboto-webfont/roboto-v30-latin-900.woff2")
    format("woff2");
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/roboto-webfont/roboto-v30-latin-900italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Lora;
  font-weight: 400;
  font-style: normal;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/lora-webfont/lora-v35-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: Lora;
  font-weight: 600;
  font-style: normal;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/lora-webfont/lora-v35-latin-600.woff2")
    format("woff2");
}

@font-face {
  font-family: Lora;
  font-style: italic;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/lora-webfont/lora-v35-latin-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Lora;
  font-weight: 600;
  font-style: italic;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/lora-webfont/lora-v35-latin-600italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Oxygen Mono";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/vendor/nocc-bootstrap-theme/fonts/oxygen-webfont/oxygen-mono-v14-latin-regular.woff2")
    format("woff2");
}
