// Global vars

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-button-pointers: false;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;
$enable-container-classes: true;
$enable-cssgrid: true;
