
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(110deg) brightness(106%) contrast(106%);
}

.features-icon {
  width: 2rem;
  height: 2rem;
  border-radius: .25rem;
  p {

    margin-top: 10px !important;
  }
  h3 {

  }
  img {
    width: 1.8rem;
    height: 1.8rem;
  }
  @media only screen and (min-width: 768px) {
    width: 4rem;
    height: 4rem;
    border-radius: .8rem;
    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

#icon-grid .col {
  margin-bottom: $grid-columns-margin
}

.features-icon-gradient {
  background-image: linear-gradient(180deg, rgba($blue, .90), rgba($cyan, .20));
}

.row-cols-2 {
  display: block;
  max-width: 100%;
  @media only screen and (min-width: 500px) {
    flex: 0 0 50%;
    max-width: 100%;
    display: flex;
  }
}

.rounded-circle {
  border-radius: 50% !important;
  background-color: $black;
  height: 3.5rem;
  width: 3.5rem;
  img {
    margin: 12px -12px;
  }
  &:focus,
  &:hover {
    background-color: $bronze;
  }
}
