$color-mode-type: data;

:root,
[data-bs-theme=light] {
  --body-color: #{$body-color};
  --body-color-rgb: #{$body-color};
  --body-bg: #{$body-bg};
  --body-bg-rgb: #{$body-bg};
  --overlay-bg: #{$overlay-bg-light};

  --emphasis-color: #{$body-emphasis-color};
  --emphasis-color-rgb: #{$body-emphasis-color};

  --primary-color: #{$body-primary-color};
  --secondary-color: #{$body-secondary-color};
  --secondary-color-rgb: #{$body-secondary-color};
  --secondary-bg: #{$body-secondary-bg};
  --secondary-bg-rgb: #{$body-secondary-bg};
  --small-head-color: #{$small-head-color-light};
  --form-control-color: #{$form-control-color};
  --tertiary-color: #{$body-tertiary-color};
  --tertiary-color-rgb: #{$body-tertiary-color};
  --tertiary-bg: #{$body-tertiary-bg};
  --tertiary-bg-rgb: #{$body-tertiary-bg};

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }
  
  --heading-color: #{$headings-color};
  
  --link-color-base: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --link-color-rgb: #{$link-color};
  --link-hover-color-rgb: #{$link-hover-color};
  
  --code-color: #{$code-color};
  --highlight-color: #{$mark-color};
  --highlight-bg: #{$mark-bg};

  --modal-body-color: #{$modal-body-color-light};
  --modal-header-color: #{$modal-header-color-light}; 
  
  --border-color-base: #{$border-color};
  --box-shadow-base: #{$box-shadow};
  --form-label-color: #{$body-emphasis-color};
  --form-valid-color: #{$form-valid-color};
  --form-valid-border-color: #{$form-valid-border-color};
  --form-invalid-color: #{$form-invalid-color};
  --form-invalid-border-color: #{$form-invalid-border-color};

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};

}


@include color-mode(dark, true) {
  --body-color: #{$body-color-dark};
  --body-color-rgb: #{$body-color-dark};
  --body-bg: #{$body-bg-dark};
  --body-bg-rgb: #{$body-bg-dark};
  --overlay-bg: #{$overlay-bg-dark};

  --emphasis-color: #{$body-emphasis-color-dark};
  --emphasis-color-rgb: #{$body-emphasis-color-dark};

  --primary-color: #{$body-primary-color-dark};
  --secondary-color: #{$body-secondary-color-dark};
  --secondary-color-rgb: #{$body-secondary-color-dark};
  --secondary-bg: #{$body-secondary-bg-dark};
  --secondary-bg-rgb: #{$body-secondary-bg-dark};
  --small-head-color: #{$small-head-color-dark};
  --form-control-color: #{$form-control-color-dark};
  --tertiary-color: #{$body-tertiary-color-dark};
  --tertiary-color-rgb: #{$body-tertiary-color-dark};
  --tertiary-bg: #{$body-tertiary-bg-dark};
  --tertiary-bg-rgb: #{$body-tertiary-bg-dark};

  @each $color, $value in $theme-colors-text-dark {
    --#{$color}-text-emphasis: #{$value};
  }
  
  @each $color, $value in $theme-colors-bg-subtle-dark {
    --#{$color}-bg-subtle: #{$value};
  }
  
  @each $color, $value in $theme-colors-border-subtle-dark {
    --#{$color}-border-subtle: #{$value};
  }
  
  --heading-color: #{$headings-color-dark};
  
  --link-color-base: #{$link-color-dark};
  --link-hover-color: #{$link-hover-color-dark};
  --link-color-rgb: #{$link-color-dark};
  --link-hover-color-rgb: #{$link-hover-color-dark};
  
  --code-color: #{$code-color-dark};
  --highlight-color: #{$mark-color-dark};
  --highlight-bg: #{$mark-bg-dark};
  
  --modal-body-color: #{$modal-body-color-dark};
  --modal-header-color: #{$modal-header-color-dark}; 
  
  --border-color-base: #{$border-color-dark};
  --box-shadow-base: #{$box-shadow-dark};
  --form-label-color: #{$body-emphasis-color-dark};
  --form-valid-color: #{$form-valid-color-dark};
  --form-valid-border-color: #{$form-valid-border-color-dark};
  --form-invalid-color: #{$form-invalid-color-dark};
  --form-invalid-border-color: #{$form-invalid-border-color-dark};
}