// Dark theme variables

$primary-text-emphasis-dark:         tint-color($primary, 40%);
$secondary-text-emphasis-dark:       tint-color($secondary, 40%);
$success-text-emphasis-dark:         tint-color($success, 40%);
$info-text-emphasis-dark:            tint-color($info, 40%);
$warning-text-emphasis-dark:         tint-color($warning, 40%);
$danger-text-emphasis-dark:          tint-color($danger, 40%);
$light-text-emphasis-dark:           $gray-100;
$dark-text-emphasis-dark:            $gray-300;

$primary-bg-subtle-dark:             shade-color($primary, 80%);
$secondary-bg-subtle-dark:           shade-color($secondary, 80%);
$success-bg-subtle-dark:             shade-color($success, 80%);
$info-bg-subtle-dark:                shade-color($info, 80%);
$warning-bg-subtle-dark:             shade-color($warning, 80%);
$danger-bg-subtle-dark:              shade-color($danger, 80%);
$light-bg-subtle-dark:               $gray-800;
$dark-bg-subtle-dark:                mix($gray-800, $black);

$primary-border-subtle-dark:         shade-color($primary, 40%);
$secondary-border-subtle-dark:       shade-color($secondary, 40%);
$success-border-subtle-dark:         shade-color($success, 40%);
$info-border-subtle-dark:            shade-color($info, 40%);
$warning-border-subtle-dark:         shade-color($warning, 40%);
$danger-border-subtle-dark:          shade-color($danger, 40%);
$light-border-subtle-dark:           $gray-700;
$dark-border-subtle-dark:            $gray-800;

$body-color-dark:                    $gray-300;
$body-bg-dark:                       $gray-900;
$body-primary-color-dark:            $primary;
$body-secondary-color-dark:          $gray-400;
$body-secondary-bg-dark:             $gray-800;
$body-tertiary-color-dark:           $gray-500;
$body-tertiary-bg-dark:              mix($gray-800, $gray-900, 50%);
$body-emphasis-color-dark:           $white;
$border-color-dark:                  $gray-700;
$box-shadow-dark:                    0 .5rem 1rem rgba($gray-400, .15);
$headings-color-dark:                inherit;
$small-head-color-dark:             black;
$link-color-dark:                    $cyan;
$link-hover-color-dark:              $bronze;
$overlay-bg-dark:                    $black;
$code-color-dark:                    tint-color($code-color, 40%);
$mark-color-dark:                    $body-color-dark;
$mark-bg-dark:                       $yellow;

$modal-body-color-dark:              $gray-900;
$modal-header-color-dark:            $black;

//
// Carousel

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

//
// Forms

$form-control-color-dark:            $white;
$form-select-indicator-color-dark:   $body-color-dark;
$form-select-indicator-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");

$form-switch-color-dark:             rgba($white, .25);
$form-switch-bg-image-dark:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>");

$form-valid-color-dark:              $green;
$form-valid-border-color-dark:       $green;
$form-invalid-color-dark:            $red;
$form-invalid-border-color-dark:     $red;
